{% extends 'layout.html'%}

{%block content%}
	{% for content in contents%}
	<div>
		<h1>{{content.title}}</h1>
		<p>
			作者：<span>{{content.userInfo.username}}</span>
			时间：<span>{{content.addTime | date('Y年m月d日 H:i:s',-8*60)}}</span>
			阅读：<span>{{content.views}}</span>
			评论：<span>{{content.userInfo.username}}</span>
		</p>
		<p>{{content.description}}</p>
		<a href="/view?contentid={{content.id}}">阅读全文 </a>
	</div>
	{% endfor %}

	<nav aria-label="...">
		<ul class="pager">
			{%if page <= 1%}
			<li>没有上一页</li>
			{% else%}
			<li><a href="?category={{category}}&&page={{page-1}}">Previous</a></li>
			{% endif %}


			<li>一共{{count}}条数据，共{{pages}}页,每页显示{{limit}}，当前第{{page}}页</li>

			{%if page >= pages%}
			<li>没有下一页</li>
			{% else%}
			<li><a href="?category={{category}}&&page={{page+1}}">Next</a></li>
			{% endif %}

		</ul>
	</nav>
{%endblock%}
